.everything{
    display: grid;
    grid-template-columns: 290px 280px 280px 300px;
    grid-template-rows: 450px 280px 300px;
    row-gap: 10px;
    column-gap: 10px;
    min-height: 300px;
}



.quicker{
    color: hsl(256, 67%, 59%);
}

body{
    font-family: "Karla", serif;
    background-color: gainsboro;
}

p{
    font-size: 20px;
}

.schedule{
    background-color: hsl(31, 66%, 93%);
    width: 250px;
    height: 290px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-radius: 10px;
}



.schedule h1{
    font-size: 40px;
    letter-spacing: -3px;
}

.create-post{
    width:90% ;
    display: block;
    margin: auto;
}

.ai h1{
    font-size: 40px;
    letter-spacing: -3px;
    margin: 0;
    padding-bottom: 50px;
}

.ai img{
    width: 250px;
}

.ai{
    background-color: hsl(39, 100%, 71%);
    width: fit-content;
    padding: 20px;
    height: 485px;
    border-radius: 10px;
    grid-row-start: 2;
    grid-row-end:4;
}

.stars h1{
    font-size: 60px;
    letter-spacing: -3px;
    margin: 0;
    padding-bottom: 20px;
    color: white;
    padding-top: 20px;
}

.stars img{
    width: 250px;
}

.stars p{
    color: white;
}

.stars{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(256, 67%, 59%);
    width: 470px;
    height: 320px;
    padding: 20px;
    padding-left:50px ;
    padding-right: 50px;
    border-radius: 10px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.faster{
    font-style:italic ;
}

.x{
    color: hsl(39, 100%, 71%);
}


.manage img{
    width: 400px;

}

.manage h1{
    line-height: 30px;
    font-size: 35px;
    letter-spacing: -3px;
}

.manage{
    background-color:white ;
    width: 240px;
    height: 240px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    grid-column-start: 2;

}

.consist{
    background-color: hsl(39, 100%, 71%);
    width: 250px;
    height: 240px;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.consist img{
    width: 250px;
}

.consist h1{
    line-height: 40px;
    font-size: 45px;
    letter-spacing: -3px;
    margin: 0;
    padding: 5px;
}

.growth h1{
    font-size: 70px;
    margin: 0;
}

.growth p{
    margin: 0;
    padding-bottom: 10px;
}

.growth img{
    width: 200px;
}

.growth{
    background-color: white;
    width: fit-content;
    height:200px ;
    padding: 20px;
    padding-right: 50px;
    border-radius: 10px;
    grid-row-start: 3;
    grid-column-start:2;
}

.content{
    display: flex;
    align-items: center;
    background-color: hsl(256, 67%, 59%);
    width: 550px;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    grid-column-start: 3;
    grid-column-end: 5;
}

.content img{
    width: 250px;
}

.content h1{
    font-size: 50px;
    color: white;
    line-height: 35px;
    letter-spacing: -3px;
}

.media h1{
    line-height: 30px;
    font-size: 40px;
    letter-spacing: -3px;

}

.media{
    background-color: hsl(254, 88%, 90%);
    width: 250px;
    height: 600px;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.media img{
    width: 400px;
}

div{
    height: 100%;
    width: 100%;
}
